In [1]:
import pandas as pd
import requests

In [2]:
response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=04304cf44f6818ed832bd0df6ae4d487&language=en-US&page=1')

In [3]:
df=pd.DataFrame(response.json()['results']).head(2)[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [4]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,31.9922,8.712,28664
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,30.5281,8.686,21697

In [8]:
df = pd.DataFrame()

In [9]:
df

Empty DataFrame
Columns: []
Index: []

In [3]:
# First, initialize the empty DataFrame before the loop
df = pd.DataFrame()

for i in range(1, 429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=04304cf44f6818ed832bd0df6ae4d487&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results']).head(2)[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']]
    # Correct syntax for concatenation: pd.concat([df, temp_df])
    df = pd.concat([df, temp_df], ignore_index=True)

In [4]:
df.to_csv('movies.csv')